$blue : #004078;
$lightblue : #8cbbff;
$darkblue : #094a83;
$gray : #c5cdd5;
$darkgray : #6e757e;
.app{
  position: relative;
  min-height:100vh;
  background-color:#020a10;
  color:white;
  transition: linear 0.2s;
}
.light{
  position: relative;
  transition: linear 0.2s;
  min-height:100vh;
  background-color:#fff;
  color:black;
}
.justifyBetween{
  display: flex;
  justify-content:space-between;
}
.col a {
  color: white;
  text-decoration: none;
}
.nav-item a,
.navbar-text a {
  text-decoration: none;
  color: rgb(152, 154, 161);
}
.navbar-nav li {
  margin-left: 15px;
}
.comments{
  padding: 20px 20px 0 20px;
  margin: 40px;
  border: 2px solid rgb(110, 121, 136);
  background-color:#f8f9fa;
}
.comments p{
  font-size: 20px;
}
.comments-info{
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.topic-info p{
  padding-right: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.Container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.sider-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.sider{
  color:black;
  padding: 100px 40px 0 40px;
  position: fixed;
  left:0;
  transform: translateX(-100%);
  top: 0;
  height:100vh;
  width: 400px;
  transition: linear 0.2s;
  z-index: 1055;
  background-color: white;
}
.sider-active {
  transform: translateX(0);
}
.siderButton{
  position: fixed;
  right: 50px;
  bottom:40px;
}
.box-dark, .box-light{
  border-radius: 0.25rem;
  margin: 10px;
  transition: linear 0.2s;
  padding:25px;
}
.box-dark{
  color : white;
  background-color: $blue;
}
.box-light{
  background-color : $gray;
  color:black;
}
.box-darkHover:hover {
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5),
    -2px -2px 10px rgba(255, 255, 255, 0.5);
}
.box-lightHover:hover{
  box-shadow: 0 0 6px 0.25rem rgba(0, 0, 0, 0.25);
}
.navHeader .Container {
  display:flex;
  justify-content: space-around;
}
.navHeader{
  width: 100%;
  height: 100px;
}
.navHeader a:hover::after {
  transform: translateX(0);
}
.navHeader a::after{
  transform:translateX(-101%);
  content: "";
  display: block;
  width: 100%;
  height:3px;
  background-color:white;
  position: relative;
  bottom:0;
  left:0;
  transition:0.2s linear;
}
.navHeader a{
  overflow:hidden;
  color:white;
  font-size: 30px;
  text-decoration: none;
  padding-top: 30px;
}
.navHeader a:hover {
  color: white;
}
.Mt-5{
  margin-top: 3rem !important;
}
.footer, .navHeader{
  transition: linear 0.2s;
  background-color: #152c4c;
}
.footerLight, .navHeaderLight{
  transition: linear 0.2s;
  background-color: $darkgray;
}
.toggleTrackThumb {
  background-color: #fafafa;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: .25s;
  width: 22px;
}
.toggleTrackThumbActive{
  left: 25px;
}
.toggleTrackX {
  right: 10px;
  width: 10px;
}
.toggleTrackCheck {
  left: 8px;
  transition: opacity .25s;
  width: 14px;
}
.toggleTrackCheck,
.toggleTrackX {
  bottom: 0;
  height: 10px;
  margin: auto 0;
  top: 0;
  position: absolute;
}
.toggleIcon {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  width: 10px;
}
.toggleTrack {
  background-color: #4d4d4d;
  border-radius: 30px;
  height: 24px;
  transition: .2s;
  width: 50px;
}
.toggle:hover .toggleTrackThumb{
  box-shadow: 0 0 2px 3px #4c80f9;
}
.toggle {
  cursor: pointer;
  position: absolute;
  user-select: none;
  width: 50px;
  right: 30px;
  top:65px;
}
.X:hover{
  transform: rotate(180deg)
}
.X{
  height:30px;
  width:30px;
  cursor: pointer;
  position: absolute;
  right:20px;
  top:20px;
  transition: .4s linear;
}
@media (min-width: 576px) {
  .Container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .Container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .Container {
    max-width: 1317px;
  }
}