$green: #5dcad1;
$darkgreen: #1c2143;
$darktransparent: rgba(44,	120,	115, 0.9);
$box :#004445;
$footer: #021c1e;
$appback : #6fb98f;
@mixin link-underline {
  transform:translateX(-101%);
  content: "";
  display: block;
  width: 100%;
  height:2px;
  position: relative;
  bottom:0;
  left:0;
  transition:0.2s linear;
}
.app, .light{
  background: url('./img/back2.jpg')
}
.app{
  position: relative;
  min-height:100vh;
  color:white;
  transition: linear 0.2s;
}
.loader{
  padding: 30px 0 30px 0;
  margin: auto;
}
.spin{
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.light{
  position: relative;
  transition: linear 0.2s;
  min-height:100vh;
  color:black;
}
.justifyBetween{
  display: flex;
  justify-content:space-between;
}
.justifyLeft{
  display: flex;
  justify-content:left;
  align-items: center;
}
.justifyAround{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.nav-item a,
.navbar-text a {
  text-decoration: none;
  color: rgb(152, 154, 161);
}
.navbar-nav li {
  margin-left: 15px;
}
.comments{
  padding: 20px 20px 0 20px;
  margin: 40px;
  border: 2px solid rgb(110, 121, 136);
  background-color:#f8f9fa;
}
.comments p{
  font-size: 20px;
}
.comments-info{
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.comments-info p{
  margin: 0;
}
.topic-info p{
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}
.Container{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
.sider-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}
.sider{
  color:black;
  padding: 100px 40px 0 40px;
  position: fixed;
  left:0;
  transform: translateX(-100%);
  top: 0;
  height:100vh;
  width: 300px;
  transition: linear 0.2s;
  z-index: 1055;
  background-color: white;
}
.sider-active {
  transform: translateX(0);
}
.siderButton{
  position: fixed;
  right: 30px;
  bottom:20px;
}
.loginFormButtons{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  button {
    margin: 0 60px;
  }
}
.box-dark, .box-light{
  border-radius: 0.25rem;
  margin: 10px;
  transition: linear 0.2s;
  padding:25px;
}
.box-dark{
  color : white;
  background-color: $box;
}
.box-light{
  background-color : $box;
  color:white;
}
.box-lightHover:hover {
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5),
    -2px -2px 10px rgba(255, 255, 255, 0.5);
}
// .box-darkHover:hover {
//   box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5),
//     -2px -2px 10px rgba(255, 255, 255, 0.5);
// }
// .box-lightHover:hover{
//   box-shadow: 0 0 6px 0.25rem rgba(0, 0, 0, 0.25);
// }
.navHeader .Container {
  display:flex;
  justify-content: space-around;
}
.navHeader{
  position: fixed;
  top:-1px;
  border-radius: 0 0 10px 10px;
  border: 1px solid white;
  width: 70%;
  height: 100px;
}
.navHeader a:hover::after {
  transform: translateX(0);
}
.navHeader a::after{
  @include link-underline;
  background-color:white;
}
.navHeader a{
  overflow:hidden;
  color:white;
  text-decoration: none;
  padding-top: 30px;
}
.navHeader a:hover {
  color: white;
}
.Mt-5{
  margin-top: 3rem !important;
}
.footer, .footerLight{
  .col a {
    color: white;
    text-decoration: none;
  }
}
.modalHeader{
  width: 100%;
  h3{
    overflow:hidden;
    cursor: pointer;
    height: 100%;
    text-align: center;
    margin-bottom: 0;
  }
  h3:after{
    @include link-underline;
    background-color:black;
  }
  h3:hover::after{
    transform: translateX(0);
  }
  h3.active::after {
    transform: translateX(0);
  }
}
.footer, .navHeader{
  transition: linear 0.2s;
  background-color: $footer;
}
.footerLight, .navHeaderLight{
  transition: linear 0.2s;
  background-color: $footer;
}
.toggleTrackThumb {
  background-color: #fafafa;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 1px;
  transition: .25s;
  width: 22px;
}
.toggleTrackThumbActive{
  left: 25px;
}
.toggleTrackX {
  right: 10px;
  width: 10px;
}
.toggleTrackCheck {
  left: 8px;
  transition: opacity .25s;
  width: 14px;
}
.toggleTrackCheck,
.toggleTrackX {
  bottom: 0;
  height: 10px;
  margin: auto 0;
  top: 0;
  position: absolute;
}
.toggleIcon {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  width: 10px;
}
.toggleTrack {
  background-color: #4d4d4d;
  border-radius: 30px;
  height: 24px;
  transition: .2s;
  width: 50px;
}
.toggle:hover .toggleTrackThumb{
  box-shadow: 0 0 2px 3px #4c80f9;
}
.content{
  background-color:$darktransparent;
  border-radius: 8px;
  padding: 10px;
}
.routesPadding{
  padding: 95px 0 30px 0;
  min-height: 70vh;
}
.toggle {
  cursor: pointer;
  position: absolute;
  user-select: none;
  width: 50px;
  left: 30px;
  top:9px;
}
.message-not-readed-dark, .message-not-readed-light{
  border-radius: 0.25rem;
  padding: 10px;
  transition: linear 0.2s;
}
.message-not-readed-dark {
  background-color: $darkgreen;
}
.message-not-readed-light{
  background-color: $darkgreen;
}
.X:hover{
  transform: rotate(180deg)
}
.X{
  height:30px;
  width:30px;
  cursor: pointer;
  position: absolute;
  right:20px;
  top:20px;
  transition: .4s linear;
}
.users-list{
  height: 150px;
  overflow: scroll;
  overflow-x:hidden;
  margin: 15px;
}
.sendMessForm, .sendMessForm-dark{
  position:sticky;
  bottom:0;
  width: 100%;
  padding: 30px;
}
.chat-header-ligth, .chat-header-dark{
  position:sticky;
  top:41px;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(44,	120,	115);
}
.sendMessForm{
  box-sizing: border-box;
  background-color: rgb(44,	120,	115);
}
.chat-ligth, .chat-dark{
  padding:30px 30px 0 30px;
  color: white;
}
.exit{
  position: absolute;
  right: 30px;
  top:20px;
  cursor: pointer;
  color: white;
}
@media (min-width: 576px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
  .Container {
    font-size: 16px!important;
  }
  .exit{
    top:2px;
  }
  .toggle{
    top:8px;
  }
  h3{
  font-size: 15px!important;
  }
  h2{
  font-size: 17px!important;
  }
  h1{
  font-size: 20px!important;
  }
  p{
    font-size: 13px!important;
  }
  .navHeader {
    height: 40px;
  }
  .box-dark, .box-light {
    padding: 10px;
  }
  .navHeader a {
    padding-top: 9px;
  }
}
@media (min-width: 1400px) {
  .Container {
    max-width: 1317px;
  }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
