.col a {
  color: white;
  text-decoration: none;
}
.nav-item a,
.navbar-text a {
  text-decoration: none;
  color: rgb(152, 154, 161);
}
.navbar-nav li {
  margin-left: 15px;
}
.comments{
  padding: 20px 20px 0 20px;
  margin: 40px;
  border: 2px solid rgb(110, 121, 136);
  background-color:#f8f9fa;
}
.comments p{
  font-size: 20px;
}
.comments-info{
  margin: 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.topic-info p{
  padding-right: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}